body {
    text-align: center;
    font-family: 'Supermercado One', cursive;;
    background: linear-gradient(#820000, #002B5B);
    color: #FFF8BC;
}

h1, h2, h3, h4, p {
    text-shadow: 2px 2px 2px black;
}

#bff-img {
    width: 250px;
    border-radius: 20%;
    border: 8px solid #FFF8BC;
    margin-bottom: 10px;
}

#bday-age {

    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 350px;
}

.union{
    display: flex;
}

.gift-img {
    margin: 20px auto;
    max-width: 350px;
    height: 350px;
    border: 8px solid white;
    border-radius: 20%;
    background-image: url("https://play-lh.googleusercontent.com/7mphhRDr1IrQNKRJn7Ky92aPsIpCVdiU2xvhDZdoTBH5YhXC4Vigbu483dOxVz9vFw");
    background-size: 350px 350px;
}



#gift-img-happy:hover {
    background-image: url("https://media.tenor.com/s8oszlGfm-IAAAAC/you-are-amazing-peter-parker.gif");
    
}

#gift-img-hot:hover {
    background-image: url("https://pbs.twimg.com/media/E9iWJPvVgAMlgt7.jpg");
}

#gift-img-genius:hover {
    background-image: url("https://media.tenor.com/lAL76mmC_W8AAAAC/doctor-strange-doc-strange.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.tenor.com/rnCUn7p_KvIAAAAM/venom-marvel.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-8b80baab10b9a106622bc136d769d020");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
